<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Koach</title>
    <link rel="icon" type="image/x-icon" href="./assets/small_logo.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- swiper slider -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  </head>

  <body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar'); %>

    <div class="max-sm:px-[30px] px-[100px] py-10">
        <div class="flex lg:flex-row lg:gap-x-10 flex-col">
            <div class="lg:border-r lg:border-gray-200">
                <div class="font-bold text-4xl my-3">
                    <h2>UPSC</h2>
                  </div>
                  <div class="flex flex-row gap-x-5 font-medium">
                    <p>Trending</p>
                    <p>Latest</p>
                    <p>Best</p>
                  </div>
                  <hr class="mt-4 mb-6" />
            
                  <div>
                    <div class="flex flex-col hover:shadow-lg px-5">
                      <div class="flex flex-row gap-x-4 my-3 items-center ">
                        <span><img src="./assets/blogs/avatar.jpg" alt="" class="w-[25px]"></span>
                        <span>Designer Grapers</span>
                        <span>10 Hours ago</span>
                      </div>
                      <div
                        class="flex md:flex-row md:gap-x-7 flex-col-reverse gap-y-3 items-center justify-between"
                      >
                        <div>
                          <a href="/blog_content">
                            <h3 class="my-2 font-bold text-xl">
                              A closer Look at Apples's vision Pro Spatial UI
                            </h3>
                          </a>
                          <p>
                            Get ready to redefine the way you percieve and interact with
                            your devices. The rapid advancement of technology has opened up
                            new in the way we interact with digital devices and interfaces.
                          </p>
                        </div>
                        <img
                          src="./assets/blogs/download.jpeg"
                          alt="image"
                          class="w-[150px]"
                        />
                      </div>
                      <div class="flex flex-row my-9 items-center gap-x-3 font-medium">
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            UPSC
                        </div>
                        <div>
                            6 min read
                        </div>
                      </div>
                    </div>
            
                    <hr />
                  </div>
            
            
                  <!-- Second blog -->
            
                  <div class="flex flex-col hover:shadow-lg px-5">
                      <div class="flex flex-row gap-x-4 my-3 items-center">
                        <span><img src="./assets/blogs/avatar.jpg" alt="" class="w-[25px]"></span>
                        <span>Designer Grapers</span>
                        <span>10 Hours ago</span>
                      </div>
                      <div
                        class="flex md:flex-row md:gap-x-7 flex-col-reverse gap-y-3 items-center justify-between"
                      >
                        <div>
                          <a href="/blog_content">
                            <h3 class="my-2 font-bold text-xl">
                              A closer Look at Apples's vision Pro Spatial UI
                            </h3>
                          </a>
                          <p>
                            Get ready to redefine the way you percieve and interact with
                            your devices. The rapid advancement of technology has opened up
                            new in the way we interact with digital devices and interfaces.
                          </p>
                        </div>
                        <img
                          src="./assets/blogs/download.jpeg"
                          alt="image"
                          class="w-[150px]"
                        />
                      </div>
                      <div class="flex flex-row my-9 items-center gap-x-3 font-medium">
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            UPSC
                        </div>
                        <div>
                            6 min read
                        </div>
                      </div>
                    </div>
            
                    <hr />
            
                    <!-- Third Blog -->
                    
                    <div class="flex flex-col hover:shadow-lg px-5">
                        <div class="flex flex-row gap-x-4 my-3 items-center">
                          <span><img src="./assets/blogs/avatar.jpg" alt="" class="w-[25px]"></span>
                          <span>Designer Grapers</span>
                          <span>10 Hours ago</span>
                        </div>
                        <div
                          class="flex md:flex-row md:gap-x-7 flex-col-reverse gap-y-3 items-center justify-between"
                        >
                          <div>
                        <a href="/blog_content">
                            <h3 class="my-2 font-bold text-xl">
                              A closer Look at Apples's vision Pro Spatial UI
                            </h3>
                          </a>
                            <p>
                              Get ready to redefine the way you percieve and interact with
                              your devices. The rapid advancement of technology has opened up
                              new in the way we interact with digital devices and interfaces.
                            </p>
                          </div>
                          <img
                            src="./assets/blogs/download.jpeg"
                            alt="image"
                            class="w-[150px]"
                          />
                        </div>
                        <div class="flex flex-row my-9 items-center gap-x-3 font-medium">
                          <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                              UPSC
                          </div>
                          <div>
                              6 min read
                          </div>
                        </div>
                      </div>
              
                      <hr />
            </div>
            <div class="flex flex-col lg:w-[30%] mt-10">
                <div class="flex flex-row font-semibold gap-x-[50px]">
                    <div class="flex flex-col items-center">
                        <p class="text-2xl">4.3K </p>                
                        <p class="text-gray-600">Blogs</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <p class="text-2xl">3.1K </p>                
                        <p class="text-gray-600">Experts</p>
                    </div>
                </div>
                <hr class="my-7"/>

                <div class="font-semibold flex flex-col ">
                    <p>Related Topics</p>
                    <div class="flex flex-row flex-wrap gap-x-4 gap-y-4">
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            UPSC
                        </div>
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            SSC
                        </div>
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            12th
                        </div>
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            10th
                        </div>
                        <div class="bg-gray-100 py-2 px-3 rounded-3xl">
                            UPSC
                        </div>
                    </div>
                    <p class="font-semibold text-[#6065DA] my-7">See more topics</p>
                </div>
            </div>
        </div>
      


      </div>


    </div>
    <footer><%- include('./partials/footer'); %></footer>
    <!-- swiper -->
    <script src="./main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
