<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Value Proposition
  </title>
  <link rel="icon" type="image/x-icon" href="/assets/small_logo.png" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/output.css" />
</head>

<body>
  <!-- NAVBAR -->
  <%- include('./partials/navbar'); %>
    <div class="flex justify-center">
      <div class="flex flex-col  sm:w-[60%] w-[90%]">
        <!-- HEADING -->

        <div class="flex items-center justify-center my-5">
          <span class="text-3xl font-extrabold ">
            Value Propostion
          </span>
        </div>
        <!-- DESCRIPTION -->
        
        <div class="flex items-center justify-center">
           <img src="./assets/ValueProposition/1.png" alt="">
        </div>
        <div class="flex items-center justify-center mt-8 ">
            <img src="./assets/ValueProposition/2.png" alt="">
         </div>
         <div class="flex items-center justify-center mt-8">
            <img src="./assets/ValueProposition/3.png" alt="">
         </div>
         <div class="flex items-center justify-center mt-8">
            <img src="./assets/ValueProposition/4.png" alt="">
         </div>
         <div class="flex items-center justify-center mt-8">
            <img src="./assets/ValueProposition/5.png" alt="">
         </div>
         <div class="flex items-center justify-center mt-8">
            <img src="./assets/ValueProposition/6.png" alt="">
         </div>
         <div class="flex items-center justify-center mt-8">
            <img src="./assets/ValueProposition/7.png" alt="">
         </div>
      </div>

    </div>



    <footer><%- include('./partials/footer'); %></footer>
</body>

</html>