@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
h1, h2, h3, h4, h5, h6{
    font-family: 'Caladea', serif;
}

  fieldset{
    border: 2px solid rgba(96, 101, 218, 0.07);
    width: 100%;
    margin: auto !important;
    border-radius: 15px;
    padding: 20px !important;
  }

  legend{
    margin-left: 15px;
    font-weight: 600;
    font-size: 20px;
  }

  .splide__slide img{
    margin: auto !important;
  }

.text-animate{
  display: inline-flex;
  flex-direction: column;
  height: 2.8rem;
  overflow: hidden;
}

.text-animate span {
  height: 2.8rem;
  animation: moveUp 10s linear infinite;
}

@media (max-width: 640px){
  .text-animate span {
    height: 2.3rem;
    animation: moveUpSmall 10s linear infinite;
  }

  .text-animate{
    height: 2.3rem;
  }
}

#course_content {
  font-family: 'Poppins';
}

#course_content h2{
  font-weight: 700;
  /* font-family: none; */
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#course_content ul{
  list-style: inside  !important; 
}

#course_content ol{
  list-style-type: decimal; 
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  
  5% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-2.8rem);
  }

  25% {
    transform: translateY(-2.8rem);
  }

  35% {
    transform: translateY(-5.6rem);
  }

  45% {
    transform: translateY(-5.6rem);
  }

  55% {
    transform: translateY(-8.4rem);
  }

  65% {
    transform: translateY(-8.4rem);
  }

  75% {
    transform: translateY(-11.2rem);
  }

  95% {
    transform: translateY(-11.2rem);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes moveUpSmall {
  0% {
    transform: translateY(0);
  }
  
  5% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-2.3rem);
  }

  25% {
    transform: translateY(-2.3rem);
  }

  35% {
    transform: translateY(-4.6rem);
  }

  45% {
    transform: translateY(-4.6rem);
  }

  55% {
    transform: translateY(-6.9rem);
  }

  65% {
    transform: translateY(-6.9rem);
  }

  75% {
    transform: translateY(-9.2rem);
  }

  95% {
    transform: translateY(-9.2rem);
  }

  100% {
    transform: translateY(0);
  }
}



@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}


.testi_img{
  animation: upAndDown 2.7s infinite
}

.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.content {
  margin-bottom: 10px;
}

.show {
  max-height: none;
}

html {
  scroll-behavior: smooth;
}

.course-section-input {
  outline: none !important;
  border-width: 0px !important;
  border: none !important;
  &:hover {
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
  }
  &:focus {
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
  }
}